<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" >
    <img src="../../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    YouApp
  </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
      -->
        
      </ul>
    </div>
  </nav>